#my-photo {
    width: 130px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
}

#description {
    margin-left: 20px;
}

#social-media {
    list-style-type: none;
    padding-left: 0;
}

#social-media li {
    margin-right: 5px;
}

#profile-container {
    display: flex;
}