.logo {
    display: block;
    text-align: center;
    padding: 7px;
}

#logo {
    color: var(--color-2);
    text-decoration: none;
    font-size: calc(1.5*var(--font-size));
    padding: 0;
    margin: 0;
}

.dropdown {
    display: block;
    text-align: center;
}

.dropdown-button {
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
    color: var(--color-2);
    font-size: calc(1.5*var(--font-size));
    border-top: 0.1px solid var(--color-1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-1);
    min-width: 160px;
    box-shadow: 1px 8px 16px 0px var(--color-1);
    padding: 0 0 1px 0;
    z-index: 1;
}

.navbar {
    background-color: var(--color-1);
    color: var(--color-2);
    width: 100%;
    position: fixed;
    top: 0;
}

.navlist {
    display: none;
}

.navlink {
    display: none;
}

.dropdown-link {
    color: var(--color-2);
    display: block;
    margin: 0;
    padding: 10px 6px;
    text-decoration: none;
    text-align: center;
    font-size: calc(1.5*var(--font-size));
}

.navlink:hover,
.dropdown-button:hover,
.dropdown-link:hover {
    background-color: var(--color-3);
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
}

.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}

@media only screen and (min-width:283px) {
    .logo {
        position: relative;
        float: left;
        padding: 20px;
    }

    .dropdown {
        display: block;
        position: relative;
        float: right;
    }

    .dropdown-button {
        width: auto;
        border-radius: 12px;
        padding: 10px;
        margin: 13px 10px;
        border-top: none;
    }

}

@media only screen and (min-width:1024px) {

    .logo {
        display: block;
        text-align: center;
        width: 100%;
    }

    .navlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;

    }

    .navlink {
        color: var(--color-2);
        display: block;
        margin: 0;
        padding: 23px;
        text-decoration: none;
        font-size: calc(1.5*var(--font-size));
   }
    
    .dropdown {
        display: none;
    }
}