:root{
    --font-size : 8px;
    --color-1 :  rgba(0, 0, 0, 0.8);
    --color-2 : white;
    --color-3 : cadetblue;
}

html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans';   
}

[class*="col-"]{
    width:100%;
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

hr{
    color: var(--color-3)
}

.attribution{
    text-align: center;
}

footer{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: var(--color-1);
    color: var(--color-2);
    margin-top: 10%;
    font-size: calc(var(--font-size));

}

.content{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

li{
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-3);
}

footer p {
    color: var(--color-2);
}

@media only screen and (min-width:1024px){
    :root{
        --font-size : 9px;
    }    
    
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }    
        
}
