.navList {
    list-style-type: none;
    justify-content: right;
    padding-left: 0;
    padding-right: 40px;
}   

.navList li{
    margin: 5px;
}

nav{
    display: flex;
    width: 100%;
    top: 0;
    position: sticky;
    background-color: var(--color-1);
    justify-content: space-between;
}

nav *{
    color: var(--color-3);
}