.navList {
    list-style-type: none;
    width: fit-content;
}   

.navList li{
    margin-right: 10px;
}

nav{
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

nav *{
    color: var(--color-3);
}