
#my_stacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.stacks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.tech img{
    width: 20px;
    height: 20px;
}